@import './globals.css';

.legal {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.legal h1 {
    margin-top: .25rem;
}

.legal p,
.legal li {
    font-size: 1rem;
}

.legal section {
    margin-top: 1rem;
}

.legal h2 {
    color: var(--text);
    font-weight: 650;
}